body {
    background: white;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.title {
    font-size: 30;
    color: black;
    text-align: center
}

.information {
    display: block;
    float: left;
    margin-top: 40px;
    width: 200px;
    color: black;
    /* border: 2px solid black; */
}

.canvasBorder {
    background-color: #E5E5E5;
    /* // position: relative; */
    padding: 10px;
    width: 100%;
    height: 100%;
}

.canvas {
    background-color: #E5E5E5;
    padding: 0px;
    display: -webkit-inline-box;
    margin: 0px auto;
    border: 2px solid black;
}

.sliderTitle {
    color: rgb(0, 0, 0);
    float: center;
}

.slidecontainer {
    display: block;
    float: left;
    padding: 0 30 30 30;
    width: 200px;
    color: black;
    /* border: 2px solid black; */
    margin: 10px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 70%;
    height: 15;
    border-radius: 10px;
    background: #d3d3d2;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #457EAC;
    cursor: pointer;
    border-radius: 50%;
}

/* .slider::-webkit-slider-runnable-track{
    background: tomato;
} */