body { 
    background: #696969;
}

.slidecontainer{ 
    width: 100%;
    display: flex;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 20%;
    height: 15;
    border-radius: 10px;
    background:#d3d3d2;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity .2s;
}

.slider:hover{ 
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6d;
    cursor:pointer;
    border-radius: 50%;
}

/* .slider::-webkit-slider-runnable-track{
    background: tomato;
} */