<html>
<head>
    <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
    <script type="text/javascript" src="../static/rotated.js"></script>
</head>
<body>

<canvas id="myCanvas" width="1200" height="700" style="border:1px solid #d3d3d3;">
Your browser does not support the HTML canvas tag.</canvas>

<div class="slidecontainer">
    Theta
    <input type="range" min="4" max="19.8" step = "0.1" value="12" class="slider" id="theta" />  
   <label id = "thetaValue">12 °</label>
    <p></p>
    D
    <input type="range" min="25" max="50" step = "1" value="50" class="slider" id="d">

    <!-- Wavelength
    <input type="range" min="50" max="200" step = "1" value="50" class="slider" id="wavelength">
     -->
     <label id = "thetaValue"> </label>
</div>

</body>
</html>